
bin/
.vs/
obj/
.vs/unit-testing-using-nunit/xs/project-cache/PrimeService-Debug.json
.vs/unit-testing-using-nunit/xs/project-cache/PrimeService.Test-Debug.json
.vs/unit-testing-using-nunit/xs/sqlite3/db.lock
.vs/unit-testing-using-nunit/xs/sqlite3/storage.ide
.vs/unit-testing-using-nunit/xs/sqlite3/storage.ide-shm
.vs/unit-testing-using-nunit/xs/sqlite3/storage.ide-wal
.vs/unit-testing-using-nunit/xs/UserPrefs.xml
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/nunit.engine.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/nunit.framework.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.pdb
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.deps.json
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.pdb
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.runtimeconfig.dev.json
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.runtimeconfig.json
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/testhost.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.AssemblyInfo.cs
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.AssemblyInfoInputs.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.assets.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csproj.CopyComplete
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csproj.CoreCompileInputs.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csproj.FileListAbsolute.txt
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csprojAssemblyReference.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.dll
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.genruntimeconfig.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.pdb
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.cache
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.dgspec.json
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.g.props
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.g.targets
PrimeService.Test/obj/project.assets.json
PrimeService.Test/obj/project.nuget.cache
PrimeService/bin/Debug/netstandard2.0/PrimeService.deps.json
PrimeService/bin/Debug/netstandard2.0/PrimeService.dll
PrimeService/bin/Debug/netstandard2.0/PrimeService.pdb
PrimeService/obj/Debug/netstandard2.0/PrimeService.AssemblyInfo.cs
PrimeService/obj/Debug/netstandard2.0/PrimeService.AssemblyInfoInputs.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.assets.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.csproj.CoreCompileInputs.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.csproj.FileListAbsolute.txt
PrimeService/obj/Debug/netstandard2.0/PrimeService.csprojAssemblyReference.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.dll
PrimeService/obj/Debug/netstandard2.0/PrimeService.pdb
PrimeService/obj/PrimeService.csproj.nuget.cache
PrimeService/obj/PrimeService.csproj.nuget.dgspec.json
PrimeService/obj/PrimeService.csproj.nuget.g.props
PrimeService/obj/PrimeService.csproj.nuget.g.targets
PrimeService/obj/project.assets.json
PrimeService/obj/project.nuget.cache
.vs/unit-testing-using-nunit/xs/project-cache/PrimeService-Debug.json
.vs/unit-testing-using-nunit/xs/project-cache/PrimeService.Test-Debug.json
.vs/unit-testing-using-nunit/xs/sqlite3/db.lock
.vs/unit-testing-using-nunit/xs/sqlite3/storage.ide
.vs/unit-testing-using-nunit/xs/sqlite3/storage.ide-shm
.vs/unit-testing-using-nunit/xs/sqlite3/storage.ide-wal
.vs/unit-testing-using-nunit/xs/UserPrefs.xml
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/nunit.engine.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/nunit.framework.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.pdb
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.deps.json
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.pdb
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.runtimeconfig.dev.json
PrimeService.Test/bin/Debug/netcoreapp3.1/PrimeService.Test.runtimeconfig.json
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/testhost.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PrimeService.Test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.AssemblyInfo.cs
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.AssemblyInfoInputs.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.assets.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csproj.CopyComplete
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csproj.CoreCompileInputs.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csproj.FileListAbsolute.txt
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.csprojAssemblyReference.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.dll
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.genruntimeconfig.cache
PrimeService.Test/obj/Debug/netcoreapp3.1/PrimeService.Test.pdb
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.cache
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.dgspec.json
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.g.props
PrimeService.Test/obj/PrimeService.Test.csproj.nuget.g.targets
PrimeService.Test/obj/project.assets.json
PrimeService.Test/obj/project.nuget.cache
PrimeService/bin/Debug/netstandard2.0/PrimeService.deps.json
PrimeService/bin/Debug/netstandard2.0/PrimeService.dll
PrimeService/bin/Debug/netstandard2.0/PrimeService.pdb
PrimeService/obj/Debug/netstandard2.0/PrimeService.AssemblyInfo.cs
PrimeService/obj/Debug/netstandard2.0/PrimeService.AssemblyInfoInputs.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.assets.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.csproj.CoreCompileInputs.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.csproj.FileListAbsolute.txt
PrimeService/obj/Debug/netstandard2.0/PrimeService.csprojAssemblyReference.cache
PrimeService/obj/Debug/netstandard2.0/PrimeService.dll
PrimeService/obj/Debug/netstandard2.0/PrimeService.pdb
PrimeService/obj/PrimeService.csproj.nuget.cache
PrimeService/obj/PrimeService.csproj.nuget.dgspec.json
PrimeService/obj/PrimeService.csproj.nuget.g.props
PrimeService/obj/PrimeService.csproj.nuget.g.targets
PrimeService/obj/project.assets.json
PrimeService/obj/project.nuget.cache
